body{
font-family:Verdana;
color:#aaaaff;
background-color:#ffffff;
}

div.jumbotron.text-center{
background-color:#0000af;
background-image: url("stockFotoRider2.jpg");
background-attachment:fixed;
background-size:cover;
color:#0251ff;
}
.btn{
background-color:blue;
border-color:black;
}
/**/