body{
font-family:Verdana;
color:#5555ff;
background-color:#ffffff;
}

div.jumbotron.text-center{
background-color:#0000af;
background-image: url("stockFotoRider2.jpg");
background-attachment:fixed;
background-size:cover;
color:#0251ff;
}
.btn{
background-color:blue;
border-color:black;
color:#aa88ff;
}
.btn:hover{
color:#88ff88;
}
/**/